.eng-saver-google-save-button {
	background: #fff;
	border: 1px solid var(--gm-hairlinebutton-outline-color, #dadce0);
	color: #1967d2;
	cursor: pointer;
	font-weight: bold;
	height: 34px;
	padding: 0 20px;
}
