.eng-saver__words-list {
	$t: &;

	position: fixed;
	bottom: 100px;
	right: 10px;
	z-index: 1202;
	font-size: 12px;
	max-width: 300px;
	font-size: 12px;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: center;
	font-family: Arial;

	li,
	&-css-path {
		box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 3px;
		border: 1px solid rgb(187, 187, 187);
		padding: 5px;
		border-radius: 3px;
		background: #fff;
	}

	li {
		margin-bottom: 5px;
		display: flex;
		align-items: center;
		position: relative;

		&:last-child {
			padding: 0;
		}

		&.highlighted {
			border-color: red;
		}

		button {
			cursor: pointer;
			background-color: lightgray;
			border: none;
			color: #000;
			padding: 3px;
		}

		#{$t}-remove {
			display: none;
			margin-left: 5px;
			padding: 5px;
			background: red;
			border: none;
			color: #fff;
			border-radius: 2px;
			box-sizing: border-box;
			width: 26px;
			height: 26px;
			font-size: 12px;
		}

		input[type=checkbox] {
			position: absolute;
			width: 0;
			height: 0;
			opacity: 0;
			z-index: -1;

			&:checked + #{$t}-css-path {
				display: block;
			}
		}

		&:hover {
			#{$t}-remove {
				display: block;
			}

			#{$t}-css-path {
				display: block;
			}
		}
	}

	&-translation {
		font-size: 10px;
	}

	&-css-path {
		display: none;
		position: absolute;
		right: calc(100% + 10px);
		top: 50%;
		transform: translateY(-50%);
		white-space: nowrap;
	}
}
