// Your styles
.eng-saver__highlight-word {
	position: relative;
	cursor: pointer;

	&:after {
		position: absolute;
		bottom: calc(100% + 3px);
		left: 50%;
		transform: translateX(-50%);
		background: yellow;
		color: #000;
		padding: 4px;
		border-radius: 2px;
		box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.75);
	}

	&:hover {
		&:after {
			content: attr(data-translation);
		}
	}
}
